<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Members List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

<div class="container mt-5">

    <h2 class="mb-4">Members List</h2>

    <!-- Search Form -->
    <form th:action="@{/page.items}" method="get">
        <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Search by name">
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </div>
    </form>

    <!-- Table -->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <span th:text="${search}"></span>
            </th>
            <th>Name</th>
            <th>Last Seen</th>
            <th>Attended Services</th>
            <th>Remarks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${page.items}">
            <td><img th:src="@{${member.profilePicture}}" alt="Profile Picture" width="50" height="50"></td>
            <td>
                <a th:text="${member.name}" href="#"></a><br/>
                <span th:class="'badge ' + ${member.status == 'ACTIVE' ? 'badge-success' :
                                            member.status == 'INACTIVE' ? 'badge-secondary' :
                                            member.status == 'SUSPENDED' ? 'badge-warning' :
                                            member.status == 'EXCOMMUNICATED' ? 'badge-danger' : ''}"
                      th:text="${member.status}">
                </span>
            </td>
            <td>Aug 28, 2023</td>
            <td>0/55</td>
            <td>
                <span th:text="${member.remarks}"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <!-- Previous Page -->
            <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/reports/members?page=' + (${currentPage - 1}) + '&search=' + ${search}+ '&key=' + ${key} + '&code=' + ${code}+ '&email=' + ${email}}">Previous</a>
            </li>

            <!-- Page Numbers -->
            <li class="page-item" th:each="pageNumber : ${displayPages}" th:classappend="${pageNumber == currentPage ? 'active' : ''}">
                <a class="page-link" th:href="@{'/reports/members?page=' + ${pageNumber} + '&search=' + ${search} + '&key=' + ${key} + '&code=' + ${code}+ '&email=' + ${email}}" th:text="${pageNumber}"></a>
            </li>

            <!-- Next Page -->
            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages ? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/reports/members?page=' + (${currentPage + 1}) + '&search=' + ${search}+ '&key=' + ${key} + '&code=' + ${code}+ '&email=' + ${email}}">Next</a>
            </li>
        </ul>
    </div>
</div>

</body>
</html>
