<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRBC Ushering | Members</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Optional: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mysite.com/my-page">
    <meta property="og:title" content="CRBC Members">
    <meta property="og:description" content="These are the attendance details of CRBC members.">
    <meta property="og:image" content="https://crbc-events.s3.ap-southeast-2.amazonaws.com/church-related/members.jpeg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://mysite.com/my-page">
    <meta property="twitter:title" content="CRBC Members">
    <meta property="twitter:description" content="These are the attendance details of CRBC members.">
    <meta property="twitter:image"
          content="https://crbc-events.s3.ap-southeast-2.amazonaws.com/church-related/members.jpeg">

    <meta name="description" content="These are the attendance details of CRBC members.">
    <style>
        .inactive-member {
            font-weight: bold;
            background-color: #E7A6A2FF !important;
        }

        .crbc-button {
            background-color: #831d3c !important;
            border-color: #831d3c !important;
        }

        .pagination .page-link {
            color: #831d3c;
            border-color: #831d3c;
        }

        /* Change background color and font color of the active page */
        .pagination .page-item.active .page-link {
            background-color: #831d3c;
            border-color: #831d3c;
            color: #fff; /* You can change this to any color you want for the font color */
        }

        .thumbnail-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            display: block;
            margin: auto;
        }

        .view-image-text {
            font-size: 10px;
            font-style: italic;
            display: block;
            text-align: center;
            margin-top: 3px;
        }
    </style>
</head>
<body>

<div class="container mt-5">

    <h2 class="mb-4">Members List</h2>

    <!-- Search Form -->
    <form th:action="@{/reports/members}" method="get">
        <div class="form-group">
            <!-- Hidden fields to keep the existing parameters -->
            <input type="hidden" name="page" th:value="${pageNumber}"/>
            <input type="hidden" name="key" th:value="${key}"/>
            <input type="hidden" name="code" th:value="${code}"/>
            <input type="hidden" name="email" th:value="${email}"/>

            <!-- Text input for the search query -->
            <input type="text" class="form-control" name="search" placeholder="Search by name" th:value="${search}">

            <button type="submit" class="btn btn-primary mt-2 crbc-button">Search</button>
        </div>
    </form>

    <span><i>The rows highlighted in red indicate members who have been absent from the church for an extended period of
        time.</i></span>
    <!-- Table -->
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Last Seen</th>
            <th>Remarks</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, iterStat : ${page.items}" th:classappend="${member.inactive ? 'inactive-member' : 'active-member'}">
            <td>
                <!-- Generate a unique modal ID using the iteration index -->
                <img th:src="@{${member.profilePicture}}" alt="Profile Picture" class="img-fluid rounded-circle thumbnail-image"
                     th:attr="data-toggle='modal', data-target='#imageModal' + ${iterStat.index}">
                <a href="#" class="view-image-text"
                   th:attr="data-toggle='modal', data-target='#imageModal' + ${iterStat.index}">View full image</a>

                <!-- Bootstrap Modal -->
                <div th:id="'imageModal' + ${iterStat.index}" class="modal fade" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">Profile Picture</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <!-- Image to be shown in larger resolution -->
                                <img th:src="@{${member.profilePicture}}" alt="Profile Picture" class="img-fluid">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary crbc-button" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a href="#" th:text="${member.name}"></a><br/>
                <span th:class="'badge ' + ${member.badgeColor}" th:text="${member.memberStatus}"></span>
            </td>
            <td><span th:text="${member.lastSeen}"></span></td>
            <td><span th:text="${member.remarks}"></span></td>
        </tr>
        </tbody>
    </table>


    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <!-- Previous Page -->
            <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/reports/members?page=' + (${currentPage - 1}) + '&search=' + ${search}+ '&key=' + ${key} + '&code=' + ${code}+ '&email=' + ${email}}">&larr;</a>
            </li>

            <!-- Page Numbers -->
            <li class="page-item" th:each="pageNumber : ${displayPages}"
                th:classappend="${pageNumber == currentPage ? 'active' : ''}">
                <a class="page-link"
                   th:href="@{'/reports/members?page=' + ${pageNumber} + '&search=' + ${search} + '&key=' + ${key} + '&code=' + ${code}+ '&email=' + ${email}}"
                   th:text="${pageNumber}"></a>
            </li>

            <!-- Next Page -->
            <li class="page-item" th:classappend="${currentPage + 1 >= totalPages ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/reports/members?page=' + (${currentPage + 1}) + '&search=' + ${search}+ '&key=' + ${key} + '&code=' + ${code}+ '&email=' + ${email}}">&rarr;</a>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
