<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CRBC Ushering | Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Bootstrap Bundle with Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <style>
        body {
            background-color: #f4f4f4;
        }

        .profile-container, .summary-container, .heatmap-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
        }

        .profile-item {
            font-size: 1rem;
        }

        .crbc-button {
            background-color: #831d3c !important;
            border-color: #831d3c !important;
        }

        .profile-image {
            cursor: pointer;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }

        .view-image-text {
            font-size: 10px;
            font-style: italic;
            display: block;
            text-align: center;
            margin-top: 3px;
        }

        .heatmap-box {
            width: 25px;
            height: 25px;
            margin: 2px;
            min-width: 15px; /* Prevent boxes from shrinking */
            flex-grow: 0;
            flex-shrink: 0;
            border-radius: 5px;
        }

        .gray {
            background-color: #a1a1a166;
            border: 1px solid #55555542;
        }

        .very-light-green {
            background-color: #dfffdf;
            border: 1px solid #55555542;
        }

        .light-green {
            background-color: #80ff80;
            border: #55555542;
        }

        .green {
            background-color: #00cc00;
            border: #55555542;
        }

        .dark-green {
            background-color: #006600;
            border: #55555542;
        }

        .tooltip-content {
            display: none;
        }

        .heatmap-box:hover .tooltip-content {
            display: block;
            position: absolute;
            background: rgba(0, 0, 0, 0.8);
            color: white;
            border-radius: 5px;
            padding: 5px;
            margin-top: 5px;
            z-index: 100;
        }

        .heatmap-boxes-container {
            border: 1px solid #8080806e;
            padding: 5px;
            border-radius: 5px;
        }

        .note-text {
            font-style: italic;
        }

        .year {
            display: block;
            color: black;
            background-color: white;
            padding: 5px;
            margin: 2px;
            text-align: center;
        }

        .selected-year {
            color: white;
            background-color: #831d3c;
        }
    </style>

</head>
<body>

<div class="container my-5">
    <!-- Profile Section -->
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="profile-container">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <img th:src="@{${data.profilePicture}}" alt="Profile Image" class="profile-image"
                             data-bs-toggle="modal" data-bs-target="#imageModal">
                        <a href="#" class="view-image-text"
                           data-bs-toggle="modal" data-bs-target="#imageModal">View full image</a>
                    </div>
                    <div class="col-md-9 mt-3">
                        <div class="profile-item mb-2"><strong>Name: </strong><span th:text="${data.name}"></span></div>
                        <div class="profile-item mb-2"><strong>Lord's Day: </strong><span
                                th:text="${data.lordsDayText}"></span></div>
                        <div class="profile-item mb-2" th:if="${data.showNickName}"><strong>Nickname: </strong><span
                                th:text="${data.nickName}"></span></div>
                        <div class="profile-item mb-2" th:if="${data.showRemarks}"><strong>Remarks: </strong><span
                                th:text="${data.remarks}"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Summary Cards Section -->
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="summary-container">
                <h4 class="mb-4">Attendance Summary</h4>
                <p class="note-text mb-3">
                    <b>Note:</b> The displayed attendance is based on usher logs and may contain occasional
                    discrepancies. Records prior to April 30, 2023, are excluded due to the system's implementation
                    date.
                </p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="bi bi-book text-primary mb-2"></i>
                                <h5 class="card-title">Sunday School</h5>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar"
                                         th:style="'width:' + ${data.sundaySchool.percent} + '%'"
                                         th:attr="aria-valuenow=${data.sundaySchool.percent}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <p class="card-text"
                                   th:text="${data.sundaySchool.attended + ' out of ' + data.sundaySchool.total+ ' services attended'}"></p>

                                <!--                                <a href="#link-to-logs-for-this-category" class="btn btn-outline-primary btn-sm mt-2">View Logs</a>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="bi bi-brightness-alt-high text-primary mb-2"></i>
                                <h5 class="card-title">Morning Service</h5>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar"
                                         th:style="'width:' + ${data.morningService.percent} + '%'"
                                         th:attr="aria-valuenow=${data.morningService.percent}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <p class="card-text"
                                   th:text="${data.morningService.attended + ' out of ' + data.morningService.total+' services attended'}"></p>
                                <!--                                <a href="#link-to-logs-for-this-category" class="btn btn-outline-primary btn-sm mt-2">View Logs</a>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="bi bi-sun text-primary mb-2"></i>
                                <h5 class="card-title">Afternoon Service</h5>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar"
                                         th:style="'width:' + ${data.afternoonService.percent} + '%'"
                                         th:attr="aria-valuenow=${data.afternoonService.percent}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <p class="card-text"
                                   th:text="${data.afternoonService.attended + ' out of ' + data.afternoonService.total+' services attended'}"></p>

                                <!--                                <a href="#link-to-logs-for-this-category" class="btn btn-outline-primary btn-sm mt-2">View Logs</a>-->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="card text-center">
                            <div class="card-body">
                                <i class="bi bi-cup text-primary mb-2"></i>
                                <h5 class="card-title">Lord's Supper</h5>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar"
                                         th:style="'width:' + ${data.lordSupper.percent} + '%'"
                                         th:attr="aria-valuenow=${data.lordSupper.percent}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>

                                <p class="card-text"
                                   th:text="${data.lordSupper.attended + ' out of ' + data.lordSupper.total+' services attended'}"></p>

                                <!--                                <a href="#link-to-logs-for-this-category" class="btn btn-outline-primary btn-sm mt-2">View Logs</a>-->
                            </div>
                        </div>
                    </div>
                    <!-- ... Add other cards similar to the above one ... -->
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="heatmap-container">
                <h4 class="mb-4">Attendance Heatmap</h4>
                <p class="note-text mb-3">
                    This is the member's attendance heatmap recorded by ushers. Gray for absence, green for presence.
                    The shade of green indicates attendance frequency. Each box represents a Lord's Day.
                </p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <a th:each="year : ${data.heatMap.years}"
                           th:href="@{/reports/members/{memberId}(memberId=${memberId}, key=${key}, code=${code}, email=${email}, year=${year})}"
                           th:class="${year == selectedYear} ? 'year selected-year' : 'year'">
                            <span th:text="${year}"></span>
                        </a>
                    </div>

                    <div class="col-md-8">
                        <div class="heatmap-boxes-container"
                             style="display: flex; flex-wrap: wrap; align-content: flex-start;">
                            <div th:each="date : ${data.heatMap.dates}" th:class="|heatmap-box ${date.cssClass}|">
                                <div class="tooltip-content"
                                     th:text="'Date: ' + ${date.date} + ', Count: ' + ${date.count}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Attendance Confirmation Modal -->
<div th:if="${showModal}" id="attendanceConfirmationModal" class="modal fade" tabindex="-1"
     aria-labelledby="attendanceConfirmationModalLabel" aria-hidden="true">
    <form id="attendanceForm" th:action="@{/reports/members/attendance}" method="post">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="attendanceConfirmationModalLabel">Attendance Review</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div th:if="${showSuccess}" class="container mt-2">
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Well done!</h4>
                            <p>Your request was processed successfully.</p>
                        </div>
                    </div>
                    <b th:text="'Did you see '+${data.name}+' on ' + ${date} + ' ?'"></b>
                    <br/>
                    <br/>
                    <p>
                        Checking the boxes below signifies that you saw this member during the listed service(s). If you
                        didn't see this brethren, you can close this modal to view other information.
                    </p>
                    <input type="hidden" th:value="${memberId}" name="memberId"/>
                    <input type="hidden" th:value="${plainDate}" name="date"/>
                    <input type="hidden" th:value="${email}" name="email"/>
                    <input type="hidden" th:value="${code}" name="code"/>
                    <input type="hidden" th:value="${key}" name="key"/>
                    <input type="hidden" th:value="${selectedYear}" name="year"/>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="sundaySchoolCheck"
                               th:value="${ss} ? 'yes' : 'no'"
                               th:checked="${ss}"
                               name="sundaySchoolCheck" onclick="changeValue(this)">
                        <label class="form-check-label" for="sundaySchoolCheck">
                            <b>Sunday School</b>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="morningServiceCheck"
                               th:value="${am} ? 'yes' : 'no'"
                               th:checked="${am}"
                               name="morningServiceCheck" onclick="changeValue(this)">
                        <label class="form-check-label" for="morningServiceCheck">
                            <b>Morning Service</b>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="afternoonServiceCheck"
                               th:value="${pm} ? 'yes' : 'no'"
                               th:checked="${pm}"
                               name="afternoonServiceCheck" onclick="changeValue(this)">
                        <label class="form-check-label" for="afternoonServiceCheck">
                            <b>Afternoon Service</b>
                        </label>
                    </div>
                    <div th:if="${isLS}" class="form-check">
                        <input class="form-check-input" type="checkbox" id="lordSupperCheck"
                               th:value="${ls} ? 'yes' : 'no'"
                               th:checked="${ls}"
                               name="lordSupperCheck" onclick="changeValue(this)">
                        <label class="form-check-label" for="lordSupperCheck">
                            <b>Lord's Supper</b>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary crbc-button">Confirm</button>
                </div>
    </form>
</div>
</div>
</div>
<!-- Bootstrap Modal -->
<div id="imageModal" class="modal fade" tabindex="-1"
     aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Profile Picture</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <!-- Image to be shown in larger resolution -->
                <img th:src="@{${data.profilePicture}}" alt="Profile Picture" class="img-fluid">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary crbc-button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script th:if="${showModal}">
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            var myModal = new bootstrap.Modal(document.getElementById('attendanceConfirmationModal'), {
                backdrop: 'static',
                keyboard: false
            });
            myModal.show();
        }, 100);
    });


    function changeValue(checkboxElement) {
        if (checkboxElement.checked) {
            checkboxElement.value = "yes";
        } else {
            checkboxElement.value = "no";
        }
    }

    // document.addEventListener("DOMContentLoaded", function() {
    //     document.querySelector(".btn-primary").addEventListener("click", function() {
    //         const attendanceForm = document.getElementById("attendanceForm");
    //         const sundaySchoolCheck = attendanceForm.querySelector("#sundaySchoolCheck").checked;
    //         const morningServiceCheck = attendanceForm.querySelector("#morningServiceCheck").checked;
    //         const afternoonServiceCheck = attendanceForm.querySelector("#afternoonServiceCheck").checked;
    //         const lordSupperCheck = attendanceForm.querySelector("#lordSupperCheck")?.checked;
    //
    //         const data = {
    //             sundaySchool: sundaySchoolCheck,
    //             morningService: morningServiceCheck,
    //             afternoonService: afternoonServiceCheck,
    //             lordSupper: lordSupperCheck
    //         };
    //
    //         fetch("http://143.198.206.157:8069/crbc-onsite/reports", {
    //             method: "POST",
    //             headers: {
    //                 "Content-Type": "application/json",
    //             },
    //             body: JSON.stringify(data)
    //         })
    //             .then(response => response.json())
    //             .then(data => {
    //                 console.log("Success:", data);
    //             })
    //             .catch((error) => {
    //                 console.error("Error:", error);
    //             });
    //     });
    // });
</script>

</body>
</html>
